{erl_opts,
 []}.
{deps,
  [{rncryptor, {git, "https://github.com/RNCryptor/RNCryptor-erlang.git", {branch, "master"}}}
  ]}.
{relx,
 [{release
  ,{srpcryptor_lib, "0.9.0"}
  ,[srpcryptor_lib]
  }
 ,{dev_mode,              false}
 ,{include_erts,          false}
 ,{include_src,           false}
 ,{extended_start_script, false}
 ]
}.
{profiles,
 [{prod,
   [{relx,
     [{dev_mode,              false}
     ,{include_src,           false}
     ,{include_erts,          false}
     ,{extended_start_script, false}
     ]}]
  }]
}.
