{erl_opts,
 []}.
{deps,
  [{rncryptor, {git, "https://github.com/dingosky/RNCryptor-erlang.git", {branch, "master"}}}
  ]}.
{relx, [{release
        ,{srpcryptor_lib, "0.9.0"}
        ,[srpcryptor_lib]
        }
       ,{dev_mode,              true}
       ,{include_erts,          false}
       ,{extended_start_script, false}
       ]
}.
